.home{
    background-color: #E7DFD8;
    flex-direction: column;
    height: calc(100vh - 10vh); 
}   
.imgHome{
    background-image: url('https://github.com/4GeeksAcademy/MSMARGARA-authentication-python-flask-react.js/blob/main/src/front/img/imgHome.jpg?raw=true');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center top -50px;
}
.home .homeContainer {
    flex: 1; 
}
.homeContainer {
    padding: 8vh; 
    border: 0.1vh solid black;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-size:10vh;
    font-weight: 540;
    line-height: 1.2;
}
.subheading{
    font-size: 3.4vh;
    width: 80vh;
    font-weight: 600;
    line-height: 1.3;
}
.project{
    font-size: 3vh;
    margin-top: 24vh;
    line-height: 1.2;
    font-style: oblique;
}
.academy{
    line-height: 0.5;
    font-weight: bold;
}